@-webkit-keyframes scale-in-center{0%{
	-webkit-transform:scale(0);
	transform:scale(0);
	opacity:1
}100%{
	-webkit-transform:scale(1);
	transform:scale(1);
	opacity:1
	}
}
@keyframes scale-in-center{0%{
	-webkit-transform:scale(0);
	transform:scale(0);
	opacity:1
}100%{
	-webkit-transform:scale(1);
	transform:scale(1);
	opacity:1
	}
}

#_nav_background{
	background-color: #0064BB;
	width: 100%;
	display: block;
	z-index: 1000;
}

#title{
	width: 100%;
	height: 140px;
	background-color: #fff;
	line-height: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	text-align: center;
}

#title-image{
	height: 100%;
	width: 850px;
}

#_nav{
	width: 924px;
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
}

._nav-selection{
	position: relative;
    display: inline-block;
	width: 150px;
	height: 50px;
	background-color:  #0064BB;
	margin: 0px 2px 0px 2px;
}

._nav-selection-active{
	position: relative;
	background-color: #0070D1;
	display: inline-block;
	width: 150px;
	height: 50px;
	margin: 0px 2px 0px 2px;
}

._nav-selection-button{
	background-color:  inherit;
    color: white;
	width: 100%;
	height: 100%;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

._nav-selection-content {
    display: none;
    position: absolute;
    background-color: inherit;
    width: 100%;
    z-index: 2;
}

._nav-selection-content a{
	color: #fff;
	font-size: 14px;
	background-color: inherit;
    text-decoration: none;
    display: block;
	padding: 15px;
	font-weight: bold;
}

._nav-selection:hover ._nav-selection-content {
    display: block;
	
}

._nav-selection:hover{
	background-color: #0070D1;
}

._nav-selection-active:hover ._nav-selection-content {
    display: block;
}


.sidenav-button{
	float:left;
	margin-left: 1.5%;
	font-size: 2em;
	width: 30px;
	line-height: 30px;
	text-align: center;
	height: 30px;
	margin-top: 10px;
	cursor: pointer;
	color: #fff;
}

.sidenav-style {
    height: 100%; 
	margin-top: 155px;
    width: 0;
	border-right: 1px solid;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden; 
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav-style a {
    text-decoration: none;
    font-size: 1.5em;
	margin-top:10px;
	margin-bottom:10px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
    color: #000;
    display: block;
}