*{
	margin: 0px;
	padding: 0px;
}

@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}

@font-face {
    font-family: dataFont;
    src: url('../font/data-latin.ttf');
}

#_nav_background{
	position: fixed;
	background-color: #f9f9f9;
	width: 100%;
	display: inline-block;
	box-shadow: 0px 1px 5px #888888;
	z-index: 1000;
}

#title{
	float: left;
	width: auto;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 50px;
}

#title img{
	display: block;
	float: left;
	width: 60px;
	height: 50px;
}

#title h1{
	text-align: center;
	float: right;
	font-family: dataFont;
	height: 100%;
	color: #000;
	font-size: 2em;
	line-height: 50px;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

#_nav{
	width: 700px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	margin-right: 1.5%;
}

#_nav li{
	list-style: none;
	width: 20%;
	float: left;
	display: inline-block;
}

#_nav li a{
	display: block;
	color: #000;
	font-size: 1em;
	line-height:50px;
	text-align: center;
	text-decoration: none;
}

#_nav li a:hover, .active-page{
	border-bottom: 1px solid #999;
}

#display{
	width: 100%;
	margin-right:auto;
	margin-left:auto;
	padding-bottom: 50px;
	height: 450px;
	/*background-attachment: fixed;*/
	background-image: url("../images/temp.jpg");
	overflow: hidden;
	background-position: center; 
}

#display a {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 250px;
	text-align: center;
	color: white;
	border-radius: 5px;
	line-height: 50px;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0.75); 
	text-decoration: none;
	display: block;
}

.sidenav-button{
	float:left;
	margin-left: 1.5%;
	font-size: 1.5em;
	width: 30px;
	line-height: 50px;
	text-align: center;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 25px;
	cursor: pointer;
}

.sidenav-style {
    height: 100%; 
	margin-top: 60px;
    width: 0;
	border-right: 1px solid;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    overflow-x: hidden; 
    transition: 0.2s;
	padding-top: 25px;
}

/* The navigation menu links */
.sidenav-style a {
    text-decoration: none;
    font-size: 1.5em;
	margin-top:10px;
	margin-bottom:10px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
    color: #000;
    display: block;
}

#_section_m{
	width: 100%;
	max-width: 100%;
	font-size: 0;
	background-color: #f1f1f1;
}

#_section_m_product_selector{
	margin-left: 220px;
	margin-right: 250px;
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	background-color: #fff /*#f9f9f9*/;
	height: 40px;
}


._section_m_product_selector_menuselect1{
	width: 20%;
	height: 100%;
	float: left;
	display: block;
	line-height: 40px;
	font-size: 24px;
	text-align: center;
	background-color: #fff;
}

._section_m_product_selector_menuselect2{
	width: 20%;
	height: 100%;
	display: block;
	float: left;
	line-height: 40px;
	font-size: 24px;
	text-align: center;
	background-color: #f9f9f9;
}


#_section_m_product_holder{
	margin-left: 220px;
	margin-right: 250px;
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	background-color: #fff /*#f9f9f9*/;
	padding: 0.25%;
}

.product{
	-webkit-animation: scale-in-center 0.6s ;
	-moz-animation: scale-in-center 0.6s ;
	animation: scale-in-center 0.6s ;
	display: inline-block;
	background-color: #fff;
	color: #000;
	margin: 0.25%;
	width: 19.5%;
	height: auto;
	margin-bottom: 25px;
	border-bottom: 1px solid black;
}

.product .product-image{
	width: 100%;
	display: block;
}

.product .product-heading{
	color: black;
	font-family: "Times New Roman", Georgia, sans;
	width: 100%;
	display: block;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

.product .product-model{
	background-color: #fff;
	font-family: "Arial";
	width: 50%;
	display: block;
	float: left;
	color: #000;
	font-size: 20px;
	text-align:center;
	margin-bottom: 10px;
	cursor: pointer;
	
}

.product .product-details{
	background-color: #f9f9f9;
	font-family: "Times New Roman", Georgia, sans;
	width: 50%;
	display: block;
	float: left;
	color: #000;
	font-size: 20px;
	text-align:center;
	margin-bottom: 10px;
	cursor: pointer;
}

.product .product-add{
	background-color: #f1f1f1;
	font-family: "Times New Roman", Georgia, sans;
	width: 100%;
	display:block;
	color:black;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-weight: bold;
	text-align:center;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.product .product-add:hover{
	background-color: #fff;
}

